<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body>
    <div id="flash">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div id="form">
        <form method="POST" action="{{ url_for('login') }}">
            <label class="form-label">UID
                <input type="text" name="uid" class="form-input">
            </label>
            <label class="form-label">Password
                <input type="password" name="password" class="form-input">
            </label>
            <button type="submit" class="form-button">Login</button>
        </form>
        {%if render_create_account%}
            <a href="{{ url_for('create_user') }}">
                <button type="button" class="form-button secondary-button">Create account</button>
            </a>
        {%endif%}
    </div>
</body>
</html>