<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show uuid</title>
</head>
<body>
    <div id="flash">
        {% with messages=get_flashed_messages() %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>

    <div id="user_data">
        <h1>Your credentials are as follows</h1>
        <ul>
            <li>uid : {{ uid }}</li>
            <li>password : {{ password }}</li>
        </ul>

        <p id="important">The uuid and password is used for logging in and tracking voting process, it must be kept secret</p>
        <a href="{{ url_for("login") }}">
            <button>Go to login</button>
        </a>
    </div>



</body>
</html>