<!DOCTYPE html>



<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <!-- disabling browser caching of vote page, prevents user from going back and voting again -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <title>Vote</title>
    <link href="{{ url_for('static', filename='css/vote.css') }}" rel="stylesheet">
</head>
<body>
    <div id="flash">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endwith %}
    </div>
    
    <div id="vote">
        <form method="POST" action="{{ url_for('submit_vote') }}">
            
            {% for post, candidates in posts.items() %}
                <div class="post">
                    <h2>{{ post }}</h2>
                    
                    <div class="candidate-row">

                        {% for candidate in candidates %}
                            <div class="candidate">
                                <input type="radio" name="{{ post }}" value="{{ candidate }}" id="{{ post }}-{{ candidate }}">

                                <label for="{{ post }}-{{ candidate }}" class="candidate-label">
                                    <div class="candidate-content">
                                        <img src="{{ url_for('static', filename='img/' + candidate + '.jpg') }}" alt="{{ candidate }}">
                                        <span>{{ candidate }}</span>
                                    </div>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            {% endfor %}
            <button type="submit" id="submit-button">Submit Vote</button>
        </form>
    </div>
</body>
</html>