<!DOCTYPE html>
    <head>
    <!-- main waiting page -->
        
        <title>Go to voting</title>
    </head>
        <a>{{flash_}}</a>

        
        <form method="POST" action="{{url_for('waiting')}}">
            <input type="text" name="client_name" value="{{client_name}}" required>
            <input type="password" name='pw' placeholder="Password" value="divij" required>
            <input type="submit" value="GO to voting">
            
        </form>
        
    </body>
    
</html>